<template>
    <div>
        <div class="row">
            <div class="col-3">
                <button class="btn btn-info text-white" @click="getData">Обновить {{counter}}</button>
            </div>
            <div class="col-9 text-right">
                Дата: {{asOf}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <table class="table table-striped table-bordered">

                    <thead>
                    <tr class="text-white bg-primary">
                        <th scope="col">Название валюты</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Количество</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr v-if="currencies.length" v-for="currency in currencies">
                        <th>{{currency.name}}</th>
                        <td>{{currency.volume}}</td>
                        <td>{{currency.amount}}</td>
                    </tr>

                    <tr v-else>
                        <td colspan="3" class="text-center text-secondary">Валют не найдено</td>
                    </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                currencies: [],
                asOf: 'Не определено'
            }
        },
        mounted() {
            this.getData();
            setInterval( () => {
                this.getData();
            }, 15000);
        },
        methods: {
            getData() {
                axios.get('/json').then( response => {
                    let data = response.data;
                    console.log(data);
                    this.currencies = data.currencies;
                    this.asOf = data.as_of;
                }).catch( error => {
                    console.log(error);
                    alert('Ошибка получения данных по API');
                })
            }
        }
    }
</script>
